@charset "ISO-8859-1";

body{
	
	margin: 0;
	padding: 0;
	background-image:
		url("https://image.freepik.com/free-vector/office-background-video-conferencing_23-2148642204.jpg");
	background-size: cover;	
	background-repeat: no-repeat;
	
	
	font-family: 'Arial';

}

.Adminlogin {
	width: 400px;
	overflow: hidden;
	margin: auto;
	margin: 20 0 0 450px;
	padding: 70px;
	background-image:
		url("https://cdn2.vectorstock.com/i/1000x1000/68/21/businessman-using-face-mask-for-covid19-character-vector-30576821.jpg");
	background-size: cover;	
	background-repeat: no-repeat;
	
	border-radius: 15px;
}

h2 {
	text-align: center;
	color: #B03A2E;
	padding: 20px;
}

label {
	color: #000000;
	font-size: 16px;
}

#customerId {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}

#password {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}

#submit {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
}

#reset {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
}